@charset "utf-8";

body    {
    margin: 0px;
    border: 0px;
    font-size:14px;
}

h1, p   {
    text-align: center;
}

#main-container {
    width: 100%;
    text-align: center;
}

.dino-pieces, .dino-background {
    margin: 10px auto 0;
    width: 800px;
    height: 400px;
    display: block;
    border: medium solid #333;
    color: inherit;
    overflow: hidden;
    text-align: center;
}

.dino-pieces {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 600px;
}

.dino {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 8px;
}

.dino-background { 
    width:600px; 
    display: inline-block;
    background-image: url('../images/sample_background.png');
    background-repeat: no-repeat;
}

.drop-zone {
    width: 40%;
    height: 40%;
    float: left;
    position: relative;
    bottom: 40px;
}

.drop-zone img {
    float: none;
    padding: 0;
    position: absolute;
}

.bl img { bottom: 0; left: 0; }
.bm img { bottom: 0; }
.br img { bottom: 0; right: 0; }
.tl img { top: 0; left: 0; }
.tm img { top: 0; }
.tr img { top: 0; right: 0; }

.invisible {
    display: none;
}
