@charset "utf-8";

body p {
    margin: 0px;
    border: 0px;
    font-size: 20px;
}

body h1 {
    font-size: 34px;
}

h1, h2, h3, h4, h5, p {
    text-align: center;
    font-family: 'Righteous', cursive;
}


#inst{
    display: none;
    justify-content: center;
    align-content: center;
}

.instruct {
    border: 5px solid;
    margin: auto;
    padding: 10px;
    position: absolute;
    width: 320px;
    height: auto;
    background:rgb(51, 186, 6);
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    left: 0;
    right: 0;
}

#start-in{

  justify-content: center;
  align-content: center;
}
.start-in {
    border: 5px solid;
    margin: auto;
    padding: 10px;
    position: absolute;
    width: 320px;
    height: auto;
    background:rgb(51, 186, 6);
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    left: 0;
    right: 0;

}

.instruct p {
    text-align: left;
}


#main-container {
    width: 100%;
    text-align: center;
}

.dino-pieces {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    cursor: pointer;
    margin-top: -100px;
}

.dino {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 0 16px;
    transition: all 0.3s ease;
}

.dino:hover {
    transform: scale(1.5) rotate(360deg);    
}

.dino-background {
    margin: 0 auto;
    width: 950px;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('../images/stage_bg.png');
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
  }
  
  .drop-zone {
    width: 40%;
    height: 40%;
    position: relative;
    bottom: 40px;
  }
  
  .drop-zone img {
    float: none;
    padding: 0;
    position: absolute;
  }
  
  .bl img {
    bottom: 0;
    left: 0;
  }
  
  .bm img {
    bottom: 0;
  }
  
  .br img {
    bottom: 0;
  }
  
  .tl img {
    bottom: 0;
  }
  
  .tm img {
    bottom: 0;
  }
  
  .tr img {
    bottom: 0;
  }

  .trr img  {
    bottom: 0;
  }
  

.invisible {
    display: none;
}

.button-1 {
    width: 130px;
    height: 40px;
    display: inline-block;
    margin-top: 25px;
    color: #fff;
    border: 2px solid rgb(1, 54, 9);
    border-radius: 5px;
    padding: 10px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(rgb(51, 186, 6), rgb(5, 92, 89) 100%);
  }
 
  .button-1:hover {
    background: linear-gradient(rgb(37, 131, 6), rgb(12, 180, 174) 100%);
 }
 
  #resetButton {
    width: 100%;
    text-align: center;
    margin-top: 20px;
 }