@charset "utf-8";

body    {
    margin: 0px;
    border: 0px;
    font-size:14px;
}

h1, p   {
    text-align: center;
}

#main-container {
    width: 100%;
    text-align: center;
}

.dino-pieces, .dino-background {
    margin: 10px auto 0;
    width: 800px;
    height: 400px;
    display: block;
    border: medium solid #333;
    color: inherit;
    overflow: hidden;
    text-align: center;
}

.dino-pieces {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 600px;
}

.dino {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 8px;
}

.dino-background { 
    width:600px; 
    display: inline-block;
    background-image: url('../images/sample_background.png');
    background-repeat: no-repeat;
}

.drop-zone {
    width: 40%;
    height: 40%;
    float: left;
    position: relative;
    bottom: 40px;
}

.drop-zone img {
    float: none;
    padding: 0;
    position: absolute;
}

.bl img { bottom: 0; left: 0; }
.bm img { bottom: 0; }
.br img { bottom: 0; right: 0; }
.tl img { top: 0; left: 0; }
.tm img { top: 0; }
.tr img { top: 0; right: 0; }

.invisible {
    display: none;
}


.button1 {
    width: 130px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin: 10px auto;
    color: #fff;
    border: 2px solid rgb(1, 54, 9);
    border-radius: 5px;
    padding: 10px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: rgb(41, 131, 6);
    background: linear-gradient(rgb(37, 131, 6), rgb(12, 180, 174) 100%);
  }
 
  .button1:hover {
    background: rgb(41, 131, 6);
    background: linear-gradient(rgb(51, 186, 6), rgb(5, 92, 89) 100%);
 }
 
 .instructions {

    display: none;
    overflow: hidden  ;
    right: 3%;
    position: absolute;
    bottom: 5%;
    width: 300px;
    height: 200px;
    background:#0F2261;
 }

 .instructions h3 span {
    color: antiquewhite;
    font-weight: 700;
 }
 
 .instructions h3 {
    margin: 0 20px 0 20px;
    font-size: 12px;
    color: white;
    font-weight: 400;
 }
 
 .instructions h2 {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
    color: antiquewhite;
 }